<section>
  <h1>Браузерні технології</h1>
  <h2>Лекція 7.1</h2>
</section>

<section>
  <h2>HTML</h2>

  <section>
    <h3>HyperText Markup Language</h3>
  </section>

  <section>
    <h3>Структура</h3>

    <pre><code class="hljs" data-trim contenteditable>
  &lt;html&gt;
    &lt;head&gt;
    &lt;/head&gt;

    &lt;body&gt;
    &lt;/body&gt;
  &lt;/html&gt;
    </code></pre>
  </section>

  <section>
    <h3>Теги block</h3>

    <pre><code class="hljs" data-trim contenteditable>
  &lt;div&gt;Блочний зміст&lt;/div&gt;

  &lt;h1&gt;Заголовок&lt;/h1&gt;
  &lt;h6&gt;Маленький заголовок&lt;/h6&gt;

  &lt;ul&gt;
    &lt;li&gt;Список 1&lt;/li&gt;
  &lt;/ul&gt;
    </code></pre>
  </section>

  <section>
    <h3>Теги block (в дії)</h3>

    <iframe src="examples/html-block.html"></iframe>
  </section>

  <section>
    <h3>Аттрибути</h3>

    <pre><code class="hljs" data-trim contenteditable>
  &lt;div id="main"&gt;
    &lt;div class="content"&gt;...&lt;/div&gt;
  &lt;/div&gt;
    </code></pre>
  </section>

  <section>
    <h3>Теги inline</h3>

    <pre><code class="hljs" data-trim contenteditable>
  ...текст...&lt;span&gt;Блочний зміст&lt;/span&gt;...текст...

  &lt;b&gt;Виділений текст (але не обов'язково жирний)&lt;/b&gt;
  &lt;i&gt;По іншому виділений текст (але не обов'язково курсив)&lt;/i&gt;
  &lt;a href="http://example.com"&gt;Посилання&lt;/a&gt;
    </code></pre>
  </section>

  <section>
    <h3>Теги inline (в дії)</h3>

    <iframe src="examples/html-inline.html"></iframe>
  </section>

  <section>
    <h3>Теги inline-block</h3>

    <pre><code class="hljs" data-trim contenteditable>
  &lt;img src="http://example.com/image.png" alt="Картинка" /&gt;
    </code></pre>
  </section>

  <section>
    <h3>Теги inline-block (в дії)</h3>

    <iframe src="examples/html-inline-block.html"></iframe>
  </section>

  <section>
    <h3>Форми</h3>

    <pre><code class="hljs" data-trim contenteditable>
  &lt;form&gt;
    &lt;input type="text" /&gt;
    &lt;input type="checkbox" /&gt;
    &lt;input type="radio" /&gt;
    &lt;input type="time" /&gt;
    &lt;input type="submit" /&gt;

    &lt;select&gt;
      &lt;option&gt;Вибір 1&lt;/option&gt;
      &lt;option&gt;Вибір 2&lt;/option&gt;
    &lt;/select&gt;

    &lt;button&gt;Hello&lt;/button&gt;
  &lt;/form&gt;
    </code></pre>
  </section>

  <section>
    <h3>Форми (в дії)</h3>

    <iframe src="examples/html-forms.html"></iframe>
  </section>
</section>

<section>
  <h2>DOM</h2>

  <section>
    <h3>Document Object Model</h3>
  </section>

  <section>
    <h3>HTML</h3>

    <p>HyperText Markup Language</p>

    <pre><code class="hljs" data-trim contenteditable>
&lt;!DOCTYPE HTML&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;title&gt;О лосях&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
  Правда о лосях
&lt;/body&gt;
&lt;/html&gt;
    </code></pre>
  </section>

  <section>
    <h3>DOM</h3>

    <img src="images/dom.png" />
  </section>

  <section>
    <h3>HTML (без переносів)</h3>

    <pre><code class="hljs" data-trim contenteditable>
&lt;!DOCTYPE HTML&gt;
&lt;html&gt;&lt;head&gt;&lt;title&gt;О лосях&lt;/title&gt;&lt;/head&gt;&lt;body&gt;Правда о лосях&lt;/body&gt;&lt;/html&gt;
    </code></pre>
  </section>

  <section>
    <h3>DOM (без переносів)</h3>

    <img src="images/dom-no-spaces.png" />
  </section>

  <section>
    <h3>Автовиправлення</h3>

    <pre><code class="hljs" data-trim contenteditable>
&lt;p&gt;Привет
&lt;li&gt;Мама
&lt;li&gt;и
&lt;li&gt;Папа
    </code></pre>
  </section>

  <section>
    <h3>DOM (автовиправлення)</h3>

    <img src="images/dom-autocorrection.png" />
  </section>

  <section>
    <h3>Автододавання</h3>

    <pre><code class="hljs" data-trim contenteditable>
&lt;table id="table"&gt;
  &lt;tr&gt;&lt;td&gt;1&lt;/td&gt;&lt;/tr&gt;
&lt;/table&gt;
    </code></pre>
  </section>

  <section>
    <h3>DOM (автододавання)</h3>

    <img src="images/dom-autowrapping.png" />
  </section>

  <section>
    <h3>Коментарі</h3>

    <pre><code class="hljs" data-trim contenteditable>
&lt;!DOCTYPE HTML&gt;
&lt;html&gt;

&lt;body&gt;
  Правда о лосях
  &lt;ol&gt;
    &lt;li&gt;Лось — животное хитрое&lt;/li&gt;
    &lt;!-- комментарий --&gt;
    &lt;li&gt;...и коварное!&lt;/li&gt;
  &lt;/ol&gt;
&lt;/body&gt;

&lt;/html&gt;
    </code></pre>
  </section>

  <section>
    <h3>DOM (коментарі)</h3>

    <img src="images/dom-comments.png" />
  </section>
</section>

<section>
  <h2>CSS</h2>

  <section>
    <h3>Cascading Style Sheets</h3>
  </section>

  <section>
    <h3>Правила (Декларації)</h3>

    <pre><code class="hljs" data-trim contenteditable>
  &lt;style&gt;
    span {
      background-color: red;
    }
    h1 {
      color: #00ff00;
    }
  &lt;/style&gt;

  &lt;h1&gt;Hello &lt;span&gt;CSS&lt;/span&gt;!&lt;/h1&gt;
    </code></pre>
  </section>

  <section>
    <h3>Правила (в дії)</h3>

    <iframe src="examples/css-rules.html"></iframe>
  </section>

  <section>
    <h3>Селектори</h3>

    <ul>
      <li><b>table</b> - всі елементи з іменем </i>table</i></li>
      <li><b>.text</b> - елементи з <i>class="text"</i></li>
      <li><b>#title</b> - елемент з <i>id="title"</i></li>
      <li><b>[name="student"]</b> - всі елементи з атрибутом <i>name="student"</i></li>
    </ul>
  </section>

  <section>
    <h3>Групування</h3>

    <ul>
      <li><b>.description .text</b> - всі елементи з <i>class="text"</i> що містяться в елементі з <i>class="description"</i></li>
      <li><b>ul#list .item</b> - всі елементи з <i>class="item"</i> що містяться в елементі <i>ul</i> з <i>id="list"</i></li>
    </ul>
  </section>

  <section>
    <h3>Сепцифічність (Specifity)</h3>

    <p>Селектори сортуються в порядку <i>спеціфічності</i>. Найбільш специфічний буде застосовано останнім.</p>

    <ul>
      <li>Порівнюється кількість <i>#id</i> у селекторі, чим вона більша, там селектор спеціфічніший. Якщо вона рівна, переходять до наступного правила;</li>
      <li>Порівнюється кількість <i>.class</i> у селекторі;</li>
      <li>Порівнюється кількість <i>element</i> у селекторі;</li>
      <li>Далі в порядку об'яви.</li>
    </ul>
  </section>

  <section>
    <h3>Селектори (приклад)</h3>

    <pre><code class="hljs" data-trim contenteditable>
  &lt;style&gt;
    #title { color: green; }
    .text {
      color: blue;
      background-color: red;
    }
    .description .text { color: white; }
  &lt;/style&gt;
  &lt;h1 id="title"&gt;Hi! My name is (what?)&lt;/h1&gt;
  &lt;h2 class="text"&gt;Hi my name is (who?)&lt;/h2&gt;
  &lt;div class="description"&gt;
    &lt;div class="text"&gt;My name is Yevhen Shemet&lt;/div&gt;
  &lt;/div&gt;
    </code></pre>
  </section>

  <section>
    <h3>Селектори (в дії)</h3>

    <iframe src="examples/css-selectors.html"></iframe>
  </section>

  <section>
    <h3>link</h3>

    <pre><code class="hljs" data-trim contenteditable>
  &lt;link href="css/style.css" rel="stylesheet" /&gt;
    </code></pre>
  </section>
</section>

<section>
  <h2>Bootstrap</h2>

  <section>
    <a href="https://getbootstrap.com/docs/4.0">getbootstrap.com</a>
  </section>

  <section>
    <h3>Інтеграція</h3>

    <pre><code class="hljs" data-trim contenteditable>
      &lt;link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
      &gt;
    </code></pre>

    <pre><code class="hljs" data-trim contenteditable>
      &lt;script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"&gt;&lt;/script&gt;
      &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"&gt;&lt;/script&gt;
      &lt;script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"&gt;&lt;/script&gt;
    </code></pre>
  </section>

  <section>
    <h3>Сітка</h3>

    <pre><code class="hljs" data-trim contenteditable>
&lt;div class="container"&gt;
  &lt;div class="row"&gt;
    &lt;div class="col-sm"&gt;
      One of three columns
    &lt;/div&gt;
    &lt;div class="col-sm"&gt;
      One of three columns
    &lt;/div&gt;
    &lt;div class="col-sm"&gt;
      One of three columns
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
    </code></pre>
  </section>

  <section>
    <h3>Сітка (в дії)</h3>

    <iframe class="wide" src="examples/bootstrap-grid.html"></iframe>
  </section>

  <section>
    <h3>Складна Сітка (в дії)</h3>

    <iframe class="wide" src="examples/bootstrap-grid-advanced.html"></iframe>
  </section>

  <section>
    <h3>Стилізація</h3>

    <iframe src="examples/bootstrap-table.html"></iframe>
  </section>

  <section>
    <h3>Компоненти</h3>
      <ul><li><a href="/docs/4.0/components/alerts/">
        Alerts
      </a></li><li>
      <a href="/docs/4.0/components/badge/">
        Badge
      </a></li><li>
      <a href="/docs/4.0/components/breadcrumb/">
        Breadcrumb
      </a></li><li>
      <a href="/docs/4.0/components/buttons/">
        Buttons
      </a></li><li>
      <a href="/docs/4.0/components/button-group/">
        Button group
      </a></li><li>
      <a href="/docs/4.0/components/card/">
        Card
      </a></li><li>
      <a href="/docs/4.0/components/carousel/">
        Carousel
      </a></li></ul><ul><li>
      <a href="/docs/4.0/components/collapse/">
        Collapse
      </a></li><li>
      <a href="/docs/4.0/components/dropdowns/">
        Dropdowns
      </a></li><li>
      <a href="/docs/4.0/components/forms/">
        Forms
      </a></li><li>
      <a href="/docs/4.0/components/input-group/">
        Input group
      </a></li><li>
      <a href="/docs/4.0/components/jumbotron/">
        Jumbotron
      </a></li><li>
      <a href="/docs/4.0/components/list-group/">
        List group
      </a></li><li>
      <a href="/docs/4.0/components/modal/">
        Modal
      </a></li></ul><ul><li>
      <a href="/docs/4.0/components/navs/">
        Navs
      </a></li><li>
      <a href="/docs/4.0/components/navbar/">
        Navbar
      </a></li><li>
      <a href="/docs/4.0/components/pagination/">
        Pagination
      </a></li><li>
      <a href="/docs/4.0/components/popovers/">
        Popovers
      </a></li><li>
      <a href="/docs/4.0/components/progress/">
        Progress
      </a></li><li>
      <a href="/docs/4.0/components/scrollspy/">
        Scrollspy
      </a></li><li>
      <a href="/docs/4.0/components/tooltips/">
        Tooltips
      </a></li></ul>
  </section>

  <section>
    <h3>Налаштування</h3>

    <iframe src="examples/bootstrap-colors.html"></iframe>
  </section>
</section>
<section>
  <h2>Інтеграція з JavaScript</h2>

  <section>
    <h3>Host елемент</h3>

    <ul>
      <li><b>window</b> - host об'єкт, містить глобальні змінні і інформацію про вікно;</li>
      <li><b>window.navigator</b> - доступ до властивостей браузера;</li>
      <li><b>window.document</b> - доступ до DOM.</li>
    </ul>
  </section>

  <section>
    <h3>Пошук</h3>

    <pre><code class="hljs" data-trim contenteditable>
// Один елемент з #student
document.getElementById('student');

// Набір елементів що відповідають .menu
document.getElementsByClassName('.menu');

// Один елемент
document.querySelector('div.user-panel.main input[name=login]');

// Всі елементи
document.querySelectorAll('div.user-panel.main input[name=login]');
    </code></pre>
  </section>

  <section>
    <h3>DOM</h3>

    <pre><code class="hljs" data-trim contenteditable>
document.body.style.backgroundColor = 'red';
    </code></pre>
  </section>

  <section>
    <h3>Події (HTML)</h3>

    <pre><code class="hljs" data-trim contenteditable>
  &lt;script&gt;
    function process(event) {
      console.log(event);
    }
    function changed(element) {
      console.log(element.value);
      return false;
    }
  &lt;/script&gt;
  &lt;form onsubmit="process(event)"&gt;
    &lt;input type="text" onkeydown="return changed(this)" /&gt;
    &lt;input type="submit" /&gt;
  &lt;/form&gt;
  &lt;button onclick="alert('Hello')"&gt;Hello&lt;/button&gt;
    </code></pre>
  </section>

  <section>
    <h3>Події (в дії)</h3>

    <iframe src="examples/html-events.html"></iframe>
  </section>

  <section>
    <h3>Події (JavaScript)</h3>

    <pre><code class="hljs" data-trim contenteditable>
const button = document.getElementById('btn');
button.addEventListener('click', function() {
  alert('clicked');
});
    </code></pre>
  </section>

  <section>
    <h3>script</h3>

    <pre><code class="hljs" data-trim contenteditable>
  &lt;script async defer src="js/script.js"&gt;&lt;/script&gt;
    </code></pre>
  </section>
</section>

<section>
  <h2>HTML5 APIs</h2>
</section>

<section>
  <h2>fetch</h2>

  <pre><code class="hljs" data-trim contenteditable>
fetch('http://someapi.com', {
  method: 'POST',
  headers: {
    'Content-Type': 'appliaction/json'
  },
  body: JSON.stringify({ name: 'Yevhen' })
})
.then(function(response) {
  console.log(response.status);
  return response.json()
})
.then(function(data) {
  console.log(data);
});
  </code></pre>
</section>

<section>
  <h2>FormData</h2>

  <pre><code class="hljs" data-trim contenteditable>
&lt;form&gt;
  &lt;input name="name" type="text" /&gt;
&lt;/form&gt;
  </code></pre>

  <pre><code class="hljs" data-trim contenteditable>
const formdata = new FormData(document.querySelector('form'));
formdata.get('name');
  </code></pre>
</section>

<section>
  <h2>History</h2>

  <pre><code class="hljs" data-trim contenteditable>
window.history.back();
window.history.forward();
window.history.pushState({}, 'MyPage', '/mypage');
  </code></pre>
</section>

<section>
  <h2>Drag and drop</h2>

  <pre><code class="hljs" data-trim contenteditable>
element.addEventListener('dragenter', function() { ... });
element.addEventListener('dragleave', function() { ... });
  </code></pre>
</section>

<section>
  <h2>Geolocation</h2>

  <pre><code class="hljs" data-trim contenteditable>
navigator.geolocation.getCurrentPosition(function(p) {
  newMarker(p.coords.latitude, p.coords.longitude);
});

const watch = navigator.geolocation.watchPosition(function(p) {
  moveMarker(p.coords.latitude, p.coords.longitude);
});

navigator.geolocation.clearWatch(watch);
  </code></pre>
</section>

<section>
  <h2>canvas</h2>

  <section>
    <pre><code class="hljs" data-trim contenteditable>
&lt;canvas id="mycanvas" width="100" height="100"&gt;&lt;/canvas&gt;
    </code></pre>

    <pre><code class="hljs" data-trim contenteditable>
var canvas = document.getElementById('mycanvas');

// use getContext to use the canvas for drawing
var context = canvas.getContext('2d');

// Draw shapes
context.fillRect(25,25,100,100);
context.clearRect(45,45,60,60);
context.strokeRect(50,50,50,50);
    </code></pre>
  </section>

  <section>
    <h3>в дії</h3>

    <iframe src="examples/html5-canvas.html"></iframe>
  </section>

  <section>
    <h3>WebGL</h3>

    <pre><code class="hljs" data-trim contenteditable>
var canvas = document.getElementById("mycanvas");
initGL(canvas);
initShaders();
initBuffers();

gl.clearColor(0.0, 0.0, 0.0, 1.0);
gl.enable(gl.DEPTH_TEST);

drawScene();
    </code></pre>
  </section>

  <section>
    <h3>WebGL (результат)</h3>

    <img src="images/html5-webgl.gif" />

    <div>
      <a href="https://human.biodigital.com">human.biodigital.com</a>
    </div>
  </section>
</section>

<section>
  <h2>Збереження даних</h2>

  <section>
    <h3>Local storage</h3>

    <pre><code class="hljs" data-trim contenteditable>
localStorage.setItem('user_id', 1);
localStorage.getItem('user_id'); // '1'
localStorage.removeItem('user_id')
    </code></pre>

    <pre><code class="hljs" data-trim contenteditable>
localStorage.setItem('user', JSON.stringify({ name: 'Petro' }));
const user = JSON.parse(localStorage.getItem('user_id'));
    </code></pre>
  </section>

  <section>
    <h3>Web SQL</h3>

    <pre><code class="hljs" data-trim contenteditable>
const db = openDatabase('mydb', '1.0', 'Test DB', 2 * 1024 * 1024);
db.transaction(function (tx) {
  tx.executeSql('CREATE TABLE IF NOT EXISTS LOGS (id unique, log)');
  tx.executeSql('INSERT INTO LOGS (id, log) VALUES (1, "foobar")');
  tx.executeSql('INSERT INTO LOGS (id, log) VALUES (2, "logmsg")');
});
    </code></pre>
  </section>
</section>

<section>
  <h2>Media</h2>

  <section>
    <h3>Audio</h3>

    <pre><code class="hljs" data-trim contenteditable>
const context = new AudioContext();

function playSound(buffer) {
  // creates a sound source
  var source = context.createBufferSource();
  // tell the source which sound to play
  source.buffer = buffer;
  // connect the source to the context's destination (the speakers)
  source.connect(context.destination);
  // play the source now
  source.start(0);
}
    </code></pre>
  </section>

  <section>
    <h3>Video</h3>
  </section>
</section>

<section>
  <h2>Device</h2>

  <section>
    <ul>
      <li>Orientation</li>
      <li>Battery status</li>
      <li>Touch</li>
      <li>Vibration</li>
    </ul>
  </section>
</section>

<section>
  <h2>Синтаксис</h2>

  <section>
    <h3>SVG</h3>

    <pre><code class="hljs" data-trim contenteditable>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;

&lt;svg width="100" height="100"&gt;
  &lt;circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" /&gt;
&lt;/svg&gt;

&lt;/body&gt;
&lt;/html&gt;
    </code></pre>
  </section>

  <section>
    <h3>SVG (в дії)</h3>

    <iframe src="examples/html5-svg.html"></iframe>
  </section>

  <section>
    <h3>MathML</h3>

    <pre><code class="hljs" data-trim contenteditable>
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;math xmlns="http://www.w3.org/1998/Math/MathML"&gt;
&lt;mrow&gt;
  &lt;mi&gt;x&lt;/mi&gt;
  &lt;mo&gt;=&lt;/mo&gt;
  &lt;mfrac&gt;
    &lt;mrow&gt;
      &lt;mrow&gt;
        &lt;mo&gt;-&lt;/mo&gt;
        &lt;mi&gt;b&lt;/mi&gt;
        &lt;mo&gt;±&lt;/mo&gt;
      &lt;/mrow&gt;
      &lt;msqrt&gt;
        &lt;mrow&gt;
          &lt;msup&gt;
            &lt;mi&gt;b&lt;/mi&gt;
            &lt;mn&gt;2&lt;/mn&gt;
          &lt;/msup&gt;
          &lt;mo&gt;-&lt;/mo&gt;
          &lt;mrow&gt;
            &lt;mn&gt;4&lt;/mn&gt;
            &lt;mi&gt;a&lt;/mi&gt;
            &lt;mi&gt;c&lt;/mi&gt;
          &lt;/mrow&gt;
        &lt;/mrow&gt;
      &lt;/msqrt&gt;
    &lt;/mrow&gt;
    &lt;mrow&gt;
      &lt;mn&gt;2&lt;/mn&gt;
      &lt;mi&gt;a&lt;/mi&gt;
    &lt;/mrow&gt;
  &lt;/mfrac&gt;
 &lt;/mrow&gt;
&lt;/math&gt;
    </code></pre>
  </section>

  <section>
    <h3>MathML (результат)</h3>

    <img src="images/html5-mathml.svg" />
  </section>
</section>

<section>
  <h2>Посилання</h2>

  <ul>
    <li><a href="https://platform.html5.org/">platform.html5.org</a></li>
    <li><a href="https://html5demos.com/">HTML5 Demos</a></li>
  </ul>
</section>

<section>
  <h2>Посилання</h2>

  <ul>
    <li><a href="https://learn.javascript.ru/dom-nodes">javascript.ru</a></li>
  </ul>
</section>

<section>
  <h2>Питання?</h2>
</section>
